.header{
	width: 100%;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $color-divider;
	h1{
		margin: 0;
		font-size: 56px;
		position: relative;
	}
}

.main{
	width: 100%;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
}

.container{
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1200px;
}
