.header{
	width: 100%;
	position: relative;
	background-color: red;
}

.main{
	width: 100%;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
}

.container{
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1200px;
}
