.header{
	width: 100%;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $color-divider;
	h1{
		margin: 0;
		font-size: 56px;
		position: relative;
	}
}

.main{
	width: 100%;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
}

.container{
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1200px;
}

.flex__list{
	width: 100%;
	position: relative;
	padding-bottom: 5%;
}

.flex__list__style{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	border: 1px solid $color-divider;
	li{
		border: 1px solid $color-success-border;
		background-color: $color-success;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.flex__list__align{
	margin: 0;
	padding: 2%;
	display: flex;
	list-style: none;
	border: 1px solid $color-divider;
	li{
		width: 180px;
		border: 1px solid $color-success-border;
		background-color: $color-success;
		position: relative;
		padding: 2%;
		color: #004085;
		display: flex;
		justify-content: flex-start;
		&:nth-child(1){
			height: 20vh;
		}
		&:nth-child(2){
			height: 40vh;
		}
		&:nth-child(3){
			height: 60vh;
		}
		+ li{
			margin-left: 2%;
		}
	}
}

.flex__list__basic{
	padding: 2%;
	li{
		width: 180px;
		height: 180px;
	}
}

.flex__list__items{
	width: 100%;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid $color-divider;
	li{
		width: 170px;
		height: 80px;
		background-color: #ffffff;
		border: 1px solid $color-success-border;
		margin-bottom: 2%;
		margin-left: 2%;
	}
}

