* {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

*:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html{
	margin: 0;
	background-color: $color-body;
	font-size: $size-text;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body{
	margin: 0;
	color: $color-text;
	font-weight: normal;
	font-size: $size-text;
	line-height: 1.5;
	background-color: #ffffff;
}


h1,h2,h3,h4,h5,h6{
	@extend .title;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

h1{
	font-size: $size-h1-md;
}

h2{
	font-size: $size-h2-md;
}

h3{
	font-size: $size-h3-md;
}

h4{
	font-size: $size-h4-md;
}

h5{
	font-size: $size-h5-md;
}

h6{
	font-size: $size-h6-md;
}

a, p, span, label, small, em{
	@extend .text;
}

a{
	color: $color-text;
	&:hover{

	}
}

code {
	background-color: whitesmoke;
	color: #ff3860;
	font-size: $size-text;
	font-weight: normal;
	padding: 0.25em 0.5em 0.25em;
}

pre {
	-webkit-overflow-scrolling: touch;
	background-color: whitesmoke;
	color: $color-text;
	font-size: $size-text;
	overflow-x: auto;
	padding: 1.25rem 1.5rem;
	white-space: pre;
	word-wrap: normal;
	code{
		background-color: transparent;
		color: currentColor;
		font-size: $size-text;
		padding: 0;
	}
}

ul{
	li{
		@extend .text;
	}
}

ol{
	li{
		@extend .text;
	}
}