$color-text:				#000000;
$color-link:					#000000;

$color-body:				#ffffff;

$color-divider:				#eeeeee;
$color-success:				#cce5ff;
$color-success-border:		#b8daff;

$size-text:					16px;

$title: 						'MaisonNeue-Bold';
$text:						'Sailec-Medium';

.title{
	font-family: $title;
	font-weight: normal;
	font-style: normal;
}

.text{
	font-family: $text;
	font-weight: normal;
	font-style: normal;
}

